<!DOCTYPE html>
<html ng-app="webApi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.js"></script>
</head>
<body>
    <div class="container body-content">
        <ul class="nav navbar-nav navbar-right">
            @if (!User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Log In", "Login", "Account")</li>
            }
            else
            {
                <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
            }
        </ul>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
